{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "prefer-const": 0,
        "comma-dangle": 0,
        "max-len": ["error", 160],
         "no-param-reassign": [2, {
            "props": false
         }]
    }
}